.thicker-line{
    stroke-width: 3pt;
}

.thickest-line{
    stroke-width: 7pt;
}

line {
    stroke:black;stroke-width:0.25pt
}
rect {
    fill:white;
    stroke-width:0.5pt;
    stroke:black
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.container{
    max-width: 1280px;
}
.w-full {
    width: 100%;
}
.lg\:w-\[40\%\]{
    width: 40%;
}
.md\:w-\[70\%\]{
    width: 70%;
}
svg, div{
    display: block;
}
.helvetica-black {
    font-family: Helvetica-Black,Arial Black,Arial Bold;
}
.helvetica {
    font-family: Helvetica,Arial;
    font-weight: 400;
}
.text-\[8pt\] {
    font-size: 8pt;
}
.text-\[20pt\] {
    font-size: 20pt;
}
.text-\[10pt\] {
    font-size: 10pt;
}
.text-\[6pt\] {
    font-size: 6pt;
}
.text-\[22pt\] {
    font-size: 22pt;
}
.label-inputs {
    z-index: 10;
    margin-left: -1px;
    width: 100%;
    flex: 1 1 0%;
    --tw-border-opacity: 1;
    border-color: rgb(206 212 218/var(--tw-border-opacity));
    padding-left: .625rem;
    padding-right: .25rem;
    font-size: 15px;
    line-height: 1;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.rounded-r {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.w-full {
    width: 100%;
}
.lg\:grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr));
}
.lg\:grid {
    display: grid;
}
.gap-4 {
    gap: 1rem;
    }
input {
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}